--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: check_transport_availability(); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.check_transport_availability() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.transport_id IS NOT NULL THEN
        IF (SELECT transport_condition FROM transport WHERE id = NEW.transport_id) != 'available' THEN
            RAISE EXCEPTION '╨в╤А╨░╨╜╤Б╨┐╨╛╤А╤В╨╜╨╛╨╡ ╤Б╤А╨╡╨┤╤Б╤В╨▓╨╛ ╨╜╨╡╨┤╨╛╤Б╤В╤Г╨┐╨╜╨╛ ╨┤╨╗╤П ╨╜╨░╨╖╨╜╨░╤З╨╡╨╜╨╕╤П';
        END IF;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_transport_availability() OWNER TO "user";

--
-- Name: create_initial_execution_event(); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.create_initial_execution_event() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO execution_events (order_id, ee_time, ee_status)
    VALUES (NEW.id, NOW(), 'created');
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_initial_execution_event() OWNER TO "user";

--
-- Name: update_order_status(); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.update_order_status() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.ee_status = 'completed' THEN
        UPDATE orders SET order_status = 'completed' WHERE id = NEW.order_id;
    ELSIF NEW.ee_status = 'in_progress' THEN
        UPDATE orders SET order_status = 'in_progress' WHERE id = NEW.order_id;
    ELSIF NEW.ee_status = 'problem' THEN
        UPDATE orders SET order_status = 'problem' WHERE id = NEW.order_id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_order_status() OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: client; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.client (
    id integer NOT NULL,
    client_name character varying(255) NOT NULL,
    client_email character varying(255) NOT NULL,
    client_password character varying(255) NOT NULL,
    client_address character varying(255) NOT NULL,
    client_avatar character varying(255) DEFAULT NULL::character varying,
    client_role character varying(255) DEFAULT NULL::character varying
);


ALTER TABLE public.client OWNER TO "user";

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.client_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.client_id_seq OWNER TO "user";

--
-- Name: client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.client_id_seq OWNED BY public.client.id;


--
-- Name: collection_point; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.collection_point (
    id integer NOT NULL,
    cp_type character varying(255) NOT NULL,
    cp_address character varying(255) NOT NULL,
    cp_quantity integer NOT NULL,
    client_id integer
);


ALTER TABLE public.collection_point OWNER TO "user";

--
-- Name: collection_point_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.collection_point_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collection_point_id_seq OWNER TO "user";

--
-- Name: collection_point_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.collection_point_id_seq OWNED BY public.collection_point.id;


--
-- Name: execution_events; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.execution_events (
    id integer NOT NULL,
    ee_time time(0) without time zone NOT NULL,
    ee_status character varying(255) NOT NULL,
    order_id integer,
    route_id integer
);


ALTER TABLE public.execution_events OWNER TO "user";

--
-- Name: execution_events_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.execution_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.execution_events_id_seq OWNER TO "user";

--
-- Name: execution_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.execution_events_id_seq OWNED BY public.execution_events.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    order_client_name character varying(255) NOT NULL,
    order_address character varying(255) NOT NULL,
    order_waste_type character varying(255) NOT NULL,
    order_date date NOT NULL,
    order_time time(0) without time zone NOT NULL,
    order_waste_volume character varying(255) NOT NULL,
    client_id integer,
    collection_point_id integer,
    route_id integer
);


ALTER TABLE public.orders OWNER TO "user";

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO "user";

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: routes; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.routes (
    id integer NOT NULL,
    route_schedule character varying(255) NOT NULL,
    transport_id integer,
    driver_session_id integer
);


ALTER TABLE public.routes OWNER TO "user";

--
-- Name: routes_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routes_id_seq OWNER TO "user";

--
-- Name: routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.routes_id_seq OWNED BY public.routes.id;


--
-- Name: session_drivers_work; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.session_drivers_work (
    id integer NOT NULL,
    driver_name character varying(255) NOT NULL
);


ALTER TABLE public.session_drivers_work OWNER TO "user";

--
-- Name: session_drivers_work_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.session_drivers_work_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.session_drivers_work_id_seq OWNER TO "user";

--
-- Name: session_drivers_work_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.session_drivers_work_id_seq OWNED BY public.session_drivers_work.id;


--
-- Name: transport; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.transport (
    id integer NOT NULL,
    transport_number character varying(255) NOT NULL,
    transport_type character varying(255) NOT NULL,
    transport_condition character varying(255) NOT NULL,
    "e╨║transport_capacity" double precision NOT NULL
);


ALTER TABLE public.transport OWNER TO "user";

--
-- Name: transport_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.transport_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transport_id_seq OWNER TO "user";

--
-- Name: transport_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.transport_id_seq OWNED BY public.transport.id;


--
-- Name: client id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.client ALTER COLUMN id SET DEFAULT nextval('public.client_id_seq'::regclass);


--
-- Name: collection_point id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.collection_point ALTER COLUMN id SET DEFAULT nextval('public.collection_point_id_seq'::regclass);


--
-- Name: execution_events id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.execution_events ALTER COLUMN id SET DEFAULT nextval('public.execution_events_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: routes id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.routes ALTER COLUMN id SET DEFAULT nextval('public.routes_id_seq'::regclass);


--
-- Name: session_drivers_work id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_drivers_work ALTER COLUMN id SET DEFAULT nextval('public.session_drivers_work_id_seq'::regclass);


--
-- Name: transport id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.transport ALTER COLUMN id SET DEFAULT nextval('public.transport_id_seq'::regclass);


--
-- Data for Name: client; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.client (id, client_name, client_email, client_password, client_address, client_avatar, client_role) FROM stdin;
1	Boris	bl4856@gmail.com	$2y$10$T23vonfoJXDma0U3fhoeNOswKMJoWxH6.dVgBuWsn7iOxKMx6oQ52	╤Г╨╗. ╨Ш╨╜╤В╨╡╤А╨╜╨░╤Ж╨╕╨╛╨╜╨░╨╗╤М╨╜╨░╤П, ╨┤.51	https://png.pngtree.com/element_our/png_detail/20181206/users-vector-icon-png_260862.jpg	╨Р╨┤╨╝╨╕╨╜
\.


--
-- Data for Name: collection_point; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.collection_point (id, cp_type, cp_address, cp_quantity, client_id) FROM stdin;
\.


--
-- Data for Name: execution_events; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.execution_events (id, ee_time, ee_status, order_id, route_id) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: routes; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.routes (id, route_schedule, transport_id, driver_session_id) FROM stdin;
\.


--
-- Data for Name: session_drivers_work; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.session_drivers_work (id, driver_name) FROM stdin;
\.


--
-- Data for Name: transport; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.transport (id, transport_number, transport_type, transport_condition, "e╨║transport_capacity") FROM stdin;
\.


--
-- Name: client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.client_id_seq', 4, true);


--
-- Name: collection_point_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.collection_point_id_seq', 1, false);


--
-- Name: execution_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.execution_events_id_seq', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.orders_id_seq', 12, true);


--
-- Name: routes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.routes_id_seq', 1, false);


--
-- Name: session_drivers_work_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.session_drivers_work_id_seq', 1, false);


--
-- Name: transport_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.transport_id_seq', 1, false);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: collection_point collection_point_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.collection_point
    ADD CONSTRAINT collection_point_pkey PRIMARY KEY (id);


--
-- Name: execution_events execution_events_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.execution_events
    ADD CONSTRAINT execution_events_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);


--
-- Name: session_drivers_work session_drivers_work_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_drivers_work
    ADD CONSTRAINT session_drivers_work_pkey PRIMARY KEY (id);


--
-- Name: transport transport_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.transport
    ADD CONSTRAINT transport_pkey PRIMARY KEY (id);


--
-- Name: routes trg_check_transport_availability; Type: TRIGGER; Schema: public; Owner: user
--

CREATE TRIGGER trg_check_transport_availability BEFORE INSERT OR UPDATE OF transport_id ON public.routes FOR EACH ROW EXECUTE FUNCTION public.check_transport_availability();


--
-- Name: orders trg_create_initial_execution_event; Type: TRIGGER; Schema: public; Owner: user
--

CREATE TRIGGER trg_create_initial_execution_event AFTER INSERT ON public.orders FOR EACH ROW EXECUTE FUNCTION public.create_initial_execution_event();


--
-- Name: execution_events trg_update_order_status; Type: TRIGGER; Schema: public; Owner: user
--

CREATE TRIGGER trg_update_order_status AFTER INSERT OR UPDATE ON public.execution_events FOR EACH ROW EXECUTE FUNCTION public.update_order_status();


--
-- Name: collection_point collection_point_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.collection_point
    ADD CONSTRAINT collection_point_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE SET NULL;


--
-- Name: execution_events execution_events_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.execution_events
    ADD CONSTRAINT execution_events_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: execution_events execution_events_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.execution_events
    ADD CONSTRAINT execution_events_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE CASCADE;


--
-- Name: orders orders_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: orders orders_collection_point_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_collection_point_id_fkey FOREIGN KEY (collection_point_id) REFERENCES public.collection_point(id) ON DELETE SET NULL;


--
-- Name: orders orders_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE SET NULL;


--
-- Name: routes routes_driver_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_driver_session_id_fkey FOREIGN KEY (driver_session_id) REFERENCES public.session_drivers_work(id) ON DELETE SET NULL;


--
-- Name: routes routes_transport_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_transport_id_fkey FOREIGN KEY (transport_id) REFERENCES public.transport(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

